In [3]:
import pandas as pd 
df = pd.read_csv('data.csv')
df

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,$3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,$9.24,20.0
...,...,...,...,...,...,...,...,...,...,...
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,$3.63,NaN
996,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,Female,188.219.12.109,NaN,$4.59,20.0
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,$7.54,20.0
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,$5.81,NaN
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,$8.01,20.0

In [4]:
df["tax"].fillna(0,inplace = True)

In [5]:
df

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,0.0
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,0.0
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,$3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,$9.24,20.0
...,...,...,...,...,...,...,...,...,...,...
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,$3.63,0.0
996,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,Female,188.219.12.109,NaN,$4.59,20.0
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,$7.54,20.0
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,$5.81,0.0
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,$8.01,20.0

In [7]:
df.price_paid = df.price_paid.apply(lambda x : x.replace("$",""))
df.price_paid = df.price_paid.astype(float)
df

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,5.36,0.0
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,8.32,0.0
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,9.24,20.0
...,...,...,...,...,...,...,...,...,...,...
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,3.63,0.0
996,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,Female,188.219.12.109,NaN,4.59,20.0
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,7.54,20.0
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,5.81,0.0
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,8.01,20.0

In [9]:
df.dtypes

id              int64
date           object
first_name     object
last_name      object
email          object
gender         object
ip_address     object
country        object
price_paid    float64
tax           float64
dtype: object

In [11]:
df["price_total"] = df["price_paid"] * (1-df["tax"]/100)
df

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax,price_total
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,5.36,0.0,5.360
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,8.32,0.0,8.320
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,3.73,20.0,2.984
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,3.70,20.0,2.960
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,9.24,20.0,7.392
...,...,...,...,...,...,...,...,...,...,...,...
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,3.63,0.0,3.630
996,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,Female,188.219.12.109,NaN,4.59,20.0,3.672
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,7.54,20.0,6.032
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,5.81,0.0,5.810
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,8.01,20.0,6.408

In [12]:
df["price_total"] = df["price_paid"] - (df["price_paid"]*df["tax"]/100)

In [13]:
df

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax,price_total
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,5.36,0.0,5.360
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,8.32,0.0,8.320
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,3.73,20.0,2.984
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,3.70,20.0,2.960
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,9.24,20.0,7.392
...,...,...,...,...,...,...,...,...,...,...,...
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,3.63,0.0,3.630
996,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,Female,188.219.12.109,NaN,4.59,20.0,3.672
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,7.54,20.0,6.032
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,5.81,0.0,5.810
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,8.01,20.0,6.408

In [19]:
prc_Country = df[df["country"] == 'Morocco']
print(prc_Country)

      id        date   first_name    last_name                          email  \
4      5  03/24/2021        Kanya      Beasant            kbeasant4@jigsy.com
30    31  03/28/2021        Tommi    Ditchburn          tditchburnu@bbc.co.uk
42    43  03/22/2021        Tonia     Jacqueme    tjacqueme16@hugedomains.com
75    76  03/28/2021     Penelope        Brood        pbrood23@macromedia.com
88    89  03/21/2021        Randy        Tiebe       rtiebe2g@livejournal.com
104  105  03/07/2021          Lay     Bouchier       lbouchier2w@multiply.com
119  120  03/25/2021      Kristal       Kettel              kkettel3b@nps.gov
158  159  03/07/2021      Ethelin         Gors      egors4e@blogtalkradio.com
168  169  03/01/2021       Willis  Sandercroft         wsandercroft4o@loc.gov
191  192  03/24/2021     Ninnette      McGruar             nmcgruar5b@ihg.com
195  196  03/22/2021    Frederica   Stuchburie        fstuchburie5f@ocn.ne.jp
205  206  03/29/2021       Kendal      Huleatt      khuleatt5p@shutterfly.com
289  290  03/15/2021       Wandis   MacCoughen     wmaccoughen81@so-net.ne.jp
301  302  03/22/2021        Ollie    Suermeier   osuermeier8d@istockphoto.com
304  305  03/11/2021      Rodrick       Gierek      rgierek8g@kickstarter.com
316  317  03/28/2021       Duncan      Dymocke         ddymocke8s@archive.org
337  338  03/14/2021     Carolyne   Eschalette    ceschalette9d@wordpress.com
349  350  03/20/2021         Elsi       Pieper          epieper9p@jiathis.com
362  363  03/22/2021       Mureil       Bartke   mbartkea2@simplemachines.org
375  376  03/14/2021      Abagael     Lafflina          alafflinaaf@prlog.org
379  380  03/21/2021     Sheelagh      Gilmore            sgilmoreaj@bing.com
386  387  03/12/2021        Jayme     Giottini             jgiottiniaq@cbc.ca
398  399  03/26/2021    Giulietta          Hun                 ghunb2@tiny.cc
407  408  03/28/2021        Lanie     Slidders            lsliddersbb@aol.com
445  446  03/05/2021           Ag       Dwelly                adwellycd@ow.ly
451  452  03/18/2021      Maritsa    Spratling        mspratlingcj@netlog.com
499  500  03/21/2021      Orlando      Becaris           obecarisdv@chron.com
532  533  03/17/2021     Rosamund      Pawlick           rpawlickes@about.com
537  538  03/08/2021     Alphonso     Fayerman   afayermanex@businesswire.com
541  542  03/07/2021         Tera    Hartridge     thartridgef1@clickbank.net
551  552  03/18/2021       Sherie        Jermy           sjermyfb@foxnews.com
581  582  03/19/2021      Maureen        Crick            mcrickg5@abc.net.au
598  599  03/23/2021      Sibilla       Monday          smondaygm@plala.or.jp
600  601  03/19/2021         Lusa     McColgan         lmccolgango@nature.com
606  607  03/19/2021         Arda         Yude        ayudegu@dailymail.co.uk
621  622  03/04/2021         Esme   Jodlkowski        ejodlkowskih9@zdnet.com
627  628  03/13/2021         Saul        Resun       sresunhf@list-manage.com
645  646  03/08/2021         Judy       Chuney              jchuneyhx@mlb.com
648  649  03/10/2021    Theresina    Constable        tconstablei0@usnews.com
659  660  03/21/2021        Levon        Jaine             ljaineib@google.ru
681  682  03/02/2021        Clare     Breitler  cbreitlerix@printfriendly.com
721  722  03/02/2021      Jerrine     Stollman          jstollmank1@google.it
736  737  03/15/2021  Constantine        Loble              cloblekg@digg.com
762  763  03/01/2021       Truman    Dunbobbin        tdunbobbinl6@weebly.com
789  790  03/09/2021        Elnar    Hurleston    ehurlestonlx@slideshare.net
791  792  03/11/2021       Faythe      Lofting         floftinglz@mozilla.com
835  836  03/05/2021           Hy     Jeschner            hjeschnern7@irs.gov
872  873  03/13/2021     Theodora        Croux                tcrouxo8@a8.net
882  883  03/03/2021        Aluin     Petegrew        apetegrewoi@alibaba.com
891  892  03/29/2021      Vincenz      Torrisi         vtorrisior@weather.com
903  904  03/02/2021    Doralynne         Kime          dkimep3@amazonaws.com
977  978  03/14/2021       Bronny      Kemball      bkemballr5@thetimes.co.uk
983  984  03/03/2021      Rhianon      McGrale             rmcgralerb@wix.com
991  992  03/07/2021        Elihu        Crush          ecrushrj@berkeley.edu

     gender       ip_address  country  price_paid   tax  price_total
4      Male  106.252.162.233  Morocco        9.24  20.0        7.392
30   Female      8.92.173.38  Morocco        7.81  20.0        6.248
42     Male   65.151.183.165  Morocco        5.29  20.0        4.232
75     Male    223.231.69.66  Morocco        6.39   0.0        6.390
88   Female      98.223.40.3  Morocco        4.95  20.0        3.960
104    Male    219.90.36.188  Morocco        4.32  20.0        3.456
119     NaN    151.36.18.192  Morocco        9.47  20.0        7.576
158  Female    49.70.235.121  Morocco        7.98  20.0        6.384
168  Female    63.189.92.203  Morocco       10.00  20.0        8.000
191    Male   170.97.155.166  Morocco        9.60  20.0        7.680
195  Female     46.120.92.17  Morocco        9.51   0.0        9.510
205  Female  232.135.221.184  Morocco        5.82  20.0        4.656
289    Male    85.203.29.182  Morocco        9.13  20.0        7.304
301  Female     163.77.66.47  Morocco        9.98   0.0        9.980
304    Male    24.127.196.24  Morocco        8.27   0.0        8.270
316  Female    131.184.17.89  Morocco        5.83  20.0        4.664
337    Male   137.166.201.65  Morocco        9.04  20.0        7.232
349    Male   158.232.177.99  Morocco        4.23   0.0        4.230
362  Female   136.214.48.211  Morocco        7.93  20.0        6.344
375  Female    60.155.75.228  Morocco        6.50  20.0        5.200
379  Female    101.59.14.157  Morocco        8.17  20.0        6.536
386  Female   91.206.101.226  Morocco        3.34  20.0        2.672
398  Female     82.47.217.54  Morocco        9.96  20.0        7.968
407    Male    11.219.12.121  Morocco        4.42   0.0        4.420
445  Female      181.12.97.4  Morocco        4.10  20.0        3.280
451    Male     96.17.174.67  Morocco        3.49   0.0        3.490
499    Male   148.172.146.11  Morocco        6.31   0.0        6.310
532  Female     26.33.30.214  Morocco        5.65  20.0        4.520
537     NaN     61.182.20.63  Morocco        9.08  20.0        7.264
541    Male    152.115.40.40  Morocco        3.73  20.0        2.984
551  Female     48.114.5.248  Morocco        5.91  20.0        4.728
581    Male   52.252.160.131  Morocco        7.66   0.0        7.660
598  Female     102.95.58.85  Morocco        5.81  20.0        4.648
600  Female   141.132.71.145  Morocco        5.98  20.0        4.784
606  Female   255.240.144.60  Morocco        6.18  20.0        4.944
621  Female     27.113.83.72  Morocco        9.72   0.0        9.720
627    Male    43.120.28.189  Morocco        7.39   0.0        7.390
645    Male  249.123.211.251  Morocco        8.96  20.0        7.168
648    Male      247.1.89.27  Morocco        4.70  20.0        3.760
659    Male   128.37.117.141  Morocco        4.92   0.0        4.920
681  Female   53.157.180.213  Morocco        9.33  20.0        7.464
721    Male  102.215.137.204  Morocco        3.06  20.0        2.448
736  Female       9.57.195.1  Morocco        8.44  20.0        6.752
762    Male     4.98.254.111  Morocco        8.22  20.0        6.576
789  Female   233.99.164.115  Morocco        4.27  20.0        3.416
791  Female   16.218.126.181  Morocco        5.62  20.0        4.496
835  Female   171.104.13.250  Morocco        8.53  20.0        6.824
872     NaN  168.185.141.171  Morocco        9.05   0.0        9.050
882  Female    161.49.144.43  Morocco        3.50   0.0        3.500
891    Male  185.200.182.118  Morocco        3.50  20.0        2.800
903  Female     72.171.1.100  Morocco        8.85  20.0        7.080
977     NaN    64.241.43.138  Morocco        4.32   0.0        4.320
983    Male   37.231.252.243  Morocco        4.46  20.0        3.568
991    Male    174.38.173.53  Morocco        5.05  20.0        4.040